@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 100% 95%;
    --foreground: 240 10% 3.9%;

    --card: 45 85% 90%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 45 85% 90%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 45 93% 47%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 45 30% 85%;
    --secondary-foreground: 240 10% 3.9%;
 
    --muted: 45 30% 85%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 45 93% 55%;
    --accent-foreground: 240 10% 3.9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 45 40% 80%;
    --input: 45 40% 80%;
    --ring: 45 93% 47%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 6% 10%;
    --foreground: 60 96% 96%;

    --card: 240 5% 14%;
    --card-foreground: 60 96% 96%;

    --popover: 240 6% 10%;
    --popover-foreground: 60 96% 96%;

    --primary: 45 93% 47%;
    --primary-foreground: 240 10% 3.9%;

    --secondary: 240 4% 18%;
    --secondary-foreground: 60 96% 96%;

    --muted: 240 4% 18%;
    --muted-foreground: 240 4% 60%;

    --accent: 51 98% 50%;
    --accent-foreground: 240 10% 3.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 96% 96%;

    --border: 240 4% 20%;
    --input: 240 4% 20%;
    --ring: 45 93% 47%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .hexagon {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  .hexagon-sm {
    clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  }
  .hexagon-tr {
    clip-path: polygon(50% 0, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }

}
